apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Development overlay - disables read-only filesystem for Tilt live updates
# DO NOT use this in production!

resources:
  - ../../kubernetes
  - example-ingress.yaml

patches:
  # Override ConfigMap values for development
  - target:
      kind: ConfigMap
      name: nextdns-webhook-config
    patch: |-
      - op: replace
        path: /data/DRY_RUN
        value: "false"
      - op: replace
        path: /data/LOG_LEVEL
        value: "debug"


  # Disable read-only filesystem for nextdns-webhook container to allow Tilt live updates
  - target:
      kind: Deployment
      name: external-dns-nextdns
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/securityContext/readOnlyRootFilesystem
        value: false
