apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: external-dns

resources:
  - namespace.yaml
  - serviceaccount.yaml
  - clusterrole.yaml
  - clusterrolebinding.yaml
  - configmap.yaml
  - service.yaml
  - deployment.yaml

# To apply, first copy secret.yaml.example to secret.yaml and update with your credentials
# Then uncomment the line below:
# - secret.yaml
